<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>Donaciones</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/resources/images/adoptar.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/resources/images/adoptar.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/resources/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/resources/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/resources/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="barber_version">

    <!-- LOADER -->
    <div id="preloader">
        <div class="cube-wrapper">
		  <div class="cube-folding">
			<span class="leaf1"></span>
			<span class="leaf2"></span>
			<span class="leaf3"></span>
			<span class="leaf4"></span>
		  </div>
		  <div class="mus">
			<img src="/resources/images/adoptar.png" height="50" alt="" />
		  </div>
		  <span class="loading" data-name="Loading">Cargando...</span>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

	<div class="top-add alert alert-light alert-dismissible">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Bienvenido!</strong> a huellitas con amor.
	</div>
    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img src="/resources/images/adoptar.png" style="border-radius: 50%" height="50" alt="" />
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
						<li class="nav-item"><a class="nav-link" href="/adopta">Adopta</a></li>
						<li class="nav-item active"><a class="nav-link" href="/donaciones">Donaciones</a></li>
						<li class="nav-item"><a class="nav-link" href="/sobre_nosotros">Sobre nosotros</a></li>
						<li class="nav-item"><a class="nav-link" href="/mascotas_extraviadas">Mascotas extraviadas</a></li>
						<% if (login) { %>
							<li class="nav-item"><a class="nav-link" href="#"><%=nombre%></a></li>
							<li class="nav-item"><a class="nav-link" href="/logout">Cerrar sesión</a></li>
						<% } else { %>
							<li class="nav-item"><a class="nav-link" href="/login2">Iniciar Sesion</a></li>
							<li class="nav-item"><a class="nav-link" href="/registro">Registro</a></li>
						<% } %>
							<% if (rol=="administrador") {%>
						<li class="nav-item"><a class="nav-link" href="/peticiones">Peticiones</a></li>
						<% } %>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<div class="all-page-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="title title-1 text-center">
							<div class="much">
								<img src="/resources/images/adoptar.png" style="border-radius: 10%" alt=""/>
							</div>
							
							<div class="title--heading">
								<h1 class="titulo">Donaciones</h1>
							</div>
							<div class="clearfix"></div>
							
							
						</div>
						<!-- .title end -->
					</div>
				</div>
			</div>
		</div><!-- end all-page-bar -->

		<div id="barbers" class="section lb">
			<div class="container">
				<div class="section-title row text-center">
					<div class="col-md-8 offset-md-2">
						<h3>Apoya a la persona</h3>
						<h2>que hace de este proyecto algo poible</h2>
					</div>
				</div><!-- end title -->

				<div class="row dev-list text-center">
					

					

					
					<div class="col-lg-4 col-md-4 col-sm-12 col-s-12 wow fadeIn"> 
					</div><!-- end col -->

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
						<div class="widget our-inner-taem clearfix">
							<div class="t-top"></div>
							<div class="hover-br">
								<img src="/resources/images/manuela.png" alt="" class="img-responsive">
								<div class="social-up-hover">
									<div class="footer-social">
										<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
										<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
									</div>
								</div>
							</div>
							<div class="widget-title">
								<h3>Manuela Molina Ocampo</h3>
								<small>Principal promotora de huellitas con amor</small>
							</div>
							<!-- end title -->
							<p>Gracias a su esfuerzo y amor hacia nuestros compañeros peludos manuela ha sido capaz de ayudar a una gran cantidad de mascotas en estado de vulnerabilidad con tu ayuda manuela podra seguir ayudando a nuestros amuigitos peludos.</p>
							<div class="t-bottom"></div>
						</div><!--widget -->
					</div><!-- end col -->

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn"> 
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end section -->
		<div class="section-title row text-center">
	
			<a href="#">
			<img src="/resources/images/paypal.png" height="150" alt="" />
			</a>

			<a href="#">
			<img src="/resources/images/efecty.png" height="150" alt="" />
			</a>

			<a href="#">
			<img src="/resources/images/bancolombia.png" height="150" alt="" />
			</a>
			<p>Huellitas con amor Design By : <a href="https://html.design/">html design</a></p>
					</div>
				</div>
			</div><!-- end container -->
		</div><!-- end copyrights -->
	</div>
   

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/resources/js/all.js"></script>
	<script src="/resources/js/responsive-tabs.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/resources/js/custom.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    (function($) {
        "use strict";
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function ( anchor, toggle ) {} // Function to run after scrolling
        });
    })(jQuery);
    </script>

</body>
</html>